.textInput,
.textInput:active,
.textInput:focus,
.numberinput,
.numberinput:active,
.numberinput:focus,
.select,
.select:active,
.select:focus
 {
    color: #fff;
    background-color: #004a80;
}


.card {
  border-radius: 25px;
  border: 2px solid #004a80;
}

.col-form-label {
    color:#004a80;
}