{% extends "app/layout.html" %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block extrahead %}

{{ form.media }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/purchaseorder.css' %}">
{% endblock %}


{% block content %}
<i class="fas fa-shopping-bag" style="font-size:24px;"></i>&nbsp;&nbsp;New Purchase Order
<br>
<br>
<div class="card col-10">
    <div class="card-body">
        <div class="col-12">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.vendor_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.purchase_order_number|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-5">
                            <div class="form-group">
                                <i class="fas fa-cog"></i>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.reference_number|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.date|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.delivery_date|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-5">
                                <div class="form-group">
                                    {{ form.shipment_preference|as_crispy_field }}
                                </div>
                         </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}