{% extends "app/layout.html" %}

{% block extrahead %}
{{ form.media }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
<h1>hello Index</h1>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header">Payments</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header">Today</h5>
                                    <div class="card-body">
                                        <h1>886</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header">This Month</h5>
                                    <div class="card-body">
                                        <h1>12</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header">Invoice</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header">Due</h5>
                                    <div class="card-body">
                                        <h1>886</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <h5 class="card-header">Overdue</h5>
                                    <div class="card-body">
                                        <h1>128</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h5 class="card-header">Items</h5>
                    <div class="card-body">
                        <h1>886</h1>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h5 class="card-header">Contact/Customer</h5>
                    <div class="card-body">
                        <h1>1285</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-12">
    <div class="row">
        <div class="col-6">

            <div class="card">
                <h5 class="card-header">Payments</h5>
                <div class="card-body">
                    <canvas id="myChart" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">Payments</h5>
                <div class="card-body">
                    <canvas id="doughnut-chart" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% block jquery %}
<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });

    var ctx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
            datasets: [{
                data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
            }, {
                data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
            }, {
                data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'World population per region (in millions)'
            }
        }
    });

</script>
{% endblock %}
{% endblock %}