<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
        media="screen" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layoutcss.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'index' %}"><i class="fas fa-desktop"></i>&nbsp;&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;Contact/Customer</a>
                </li>
                <li>
                    <a href="{% url 'items' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Items</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-signal"></i>&nbsp;&nbsp;Sales</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <div class="show">
                            <li>
                                <a href="#">Estimates</a>
                            </li>
                            <li>
                                <a href="#">Retainer Invoices</a>
                            </li>
                            <li>
                                <a href="#">Sales Orders</a>
                            </li>
                            <li>
                                <a href="#">Delivery Challans</a>
                            </li>
                            <li>
                                <a href="#">Invoices</a>
                            </li>
                            <li>
                                <a href="#">Payment Received</a>
                            </li>
                            <li>
                                <a href="#">Recurring Invoices</a>
                            </li>
                            <li>
                                <a href="#">Credit Notes</a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'purchase' %}"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Purchase</a>
                </li>
                <li>
                    <a href="{% url 'reports' %}"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Reports</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}"><i class="fas fa-cog"></i>&nbsp;&nbsp;Settings</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <div class="row">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">your name</a>
                    </li>
                </ul>
                <img src="/media/{{ image }}" alt="Profile Picture" width="35" height="35">
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>